In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import os

from sklearn.model_selection import train_test_split

In [2]:
file_path=os.path.join(os.getcwd(),"..","data","SQuAD-v1.1.csv")

df=pd.read_csv(file_path)
df.head()

,title,context,question,answer,answer_start,answer_end
0,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",To whom did the Virgin Mary allegedly appear i...,Saint Bernadette Soubirous,515,541
1,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is in front of the Notre Dame Main Building?,a copper statue of Christ,188,213
2,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",The Basilica of the Sacred heart at Notre Dame...,the Main Building,279,296
3,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is the Grotto at Notre Dame?,a Marian place of prayer and reflection,381,420
4,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What sits on top of the Main Building at Notre...,a golden statue of the Virgin Mary,92,126

In [7]:

train_df, valid_df = train_test_split(df, test_size=0.2, random_state=42)

train_df.to_csv(os.path.join(os.getcwd(), "..", "data",  "train.csv"), index=False)
valid_df.to_csv(os.path.join(os.getcwd(), "..", "data", "valid.csv"), index=False)

In [8]:
for i in range(3):
    print("Context:", df.loc[i, "context"][:200], "...")
    print("Question:", df.loc[i, "question"])
    print("Answer:", df.loc[i, "answer"])
    print("Start:", df.loc[i, "answer_start"], "End:", df.loc[i, "answer_end"])
    print("="*50)

Context: Architecturally, the school has a Catholic character. Atop the Main Building's gold dome is a golden statue of the Virgin Mary. Immediately in front of the Main Building and facing it, is a copper sta ...
Question: To whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?
Answer: Saint Bernadette Soubirous
Start: 515 End: 541
==================================================
Context: Architecturally, the school has a Catholic character. Atop the Main Building's gold dome is a golden statue of the Virgin Mary. Immediately in front of the Main Building and facing it, is a copper sta ...
Question: What is in front of the Notre Dame Main Building?
Answer: a copper statue of Christ
Start: 188 End: 213
==================================================
Context: Architecturally, the school has a Catholic character. Atop the Main Building's gold dome is a golden statue of the Virgin Mary. Immediately in front of the Main Building and facing it, is a copper sta ...
Question: The Basilica of the Sacred heart at Notre Dame is beside to which structure?
Answer: the Main Building
Start: 279 End: 296
==================================================

In [9]:
df["title"].value_counts().head(10)

title
New_York_City                       817
American_Idol                       802
Beyoncé                             758
Frédéric_Chopin                     697
Queen_Victoria                      680
Buddhism                            610
New_Haven,_Connecticut              602
2008_Sichuan_earthquake             521
2008_Summer_Olympics_torch_relay    500
Muammar_Gaddafi                     489
Name: count, dtype: int64

In [10]:
df["context"].apply(lambda x: len(str(x).split())).describe()

count    87599.000000
mean       119.763125
std         49.365000
min         20.000000
25%         89.000000
50%        110.000000
75%        142.000000
max        653.000000
Name: context, dtype: float64